@import "Theme.scss";

.editor-window-container {
	border: 1px solid $border-color;
	flex-grow: 1;
	padding: 0.2rem;
	display: flex;
	overflow: auto;
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	box-shadow: $box-shadow;
}

.editor-window {
	outline: none;
	flex-grow: 1;
	height: min-content;
}

.editor-window p {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

code, pre {
	font-family: unset;
	margin: 0;
}